<html>

<head>
    <title></title>
    <script src="plugin/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="controller/maincontroller.js"></script>
    <script src="plugin/pagedirective.js"></script>
</head>

<body ng-app="app">
    <div class="container" ng-controller="github">
        <h1>Git Repo Structure</h1>
        <div class="row">
            <div class="col-md-4">
                <div ng-repeat="branch in repoList track by $index">
                    <ul class="gitlist">
                        <li ng-click="commitList(branch.name)" ng-class="{'active' : branchActive == branch.name }">{{branch.name}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <ul class="gitlist" dir-paginate="commit in commitBranch | itemsPerPage:10">

                    <li>
                        {{commit.commit.message}}
                    </li>
                    <li>{{commit.commit.committer.name}} {{commit.commit.committer.date | date:'short'}}</li>
                </ul>
                <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                </dir-pagination-controls>
            </div>
        </div>
    </div>

</body>

</html>