<html>

<head>
    <title></title>
    <script src="plugin/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/master.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="app.js"></script>
    <script src="controller/maincontroller.js"></script>
    <script src="plugin/pagedirective.js"></script>
</head>

<body ng-app="app">
    <div class="container" ng-controller="github">
        <h1>SwApi Structure</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for name" ng-model="nameVal">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for gender" ng-model="gender">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for D.O.B" ng-model="birth">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for film" ng-model="film">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div ng-repeat="item in arr | filter: { name:nameVal }">

                    <div class="name">
                        <h3>{{item.name}}</h3>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div ng-repeat="item in arr | filter :{ gender :gender} ">

                    <div class="gender">
                        <h3>{{item.gender}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div ng-repeat="item in arr | filter: { birth_year:birth }">

                    <div class="birthDate">
                        <h3>{{item.birth_year}}</h3>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div ng-repeat="film in filmTitles | filter : film track by $index">
                    <div class="films">
                        <h3>{{film}}</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

</html>